.item {
    position: relative;
}

.item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #707070;
    height: 100%;
    border-radius: 2px;
}
